.menu {
  composes: contextMenu from '../pages/WorkspaceEntryPage.module.css';
  z-index: 10000;
}

.item {
  composes: contextMenuItem from '../pages/WorkspaceEntryPage.module.css';
}

.item:disabled {
  cursor: wait;
  opacity: 0.6;
}
